{% extends 'posts/base.html' %}

{% block content %}
    <a href="{% url 'post_create' %}" class="new-post-button">Crear Nuevo Post</a>
    {% for post in posts %}
        <article>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content|linebreaksbr }}</p>
            <a href="{% url 'post_update' pk=post.pk %}">Editar</a>
            <a href="{% url 'post_delete' pk=post.pk %}" style="color: red; margin-left: 10px;">Eliminar</a>
        </article>
    {% empty %}
        <p>Aún no hay publicaciones en el blog.</p>
    {% endfor %}
{% endblock content %}